<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<string>阿宝</string>
		<string>阿杜</string>
		<string>阿兰</string>
		<string>阿朵</string>
		<string>阿雅</string>
		<string>阿鲁阿卓</string>
		<string>阿里郎</string>
		<string>艾尔肯</string>
		<string>艾静</string>
	</array>
	<key>B</key>
	<array>
		<string>白日梦</string>
		<string>包娜娜</string>
		<string>白雪</string>
		<string>布兰妮</string>
		<string>贝多芬</string>
	</array>
	<key>C</key>
	<array>
		<string>崔健</string>
		<string>常石磊</string>
		<string>崔子格</string>
		<string>川子</string>
		<string>才旦卓玛</string>
		<string>成龙</string>
		<string>蔡健雅</string>
		<string>蔡国庆</string>
		<string>蔡依林</string>
		<string>蔡卓妍</string>
		<string>陈升</string>
		<string>陈冠希</string>
		<string>陈坤</string>
		<string>陈小春</string>
		<string>陈奕迅</string>
		<string>陈慧娴</string>
		<string>陈淑桦</string>
		<string>陈明真</string>
		<string>陈百强</string>
		<string>程琳</string>
		<string>草帽姐</string>
		<string>迟志强</string>
	</array>
	<key>D</key>
	<array>
		<string>刀郎</string>
		<string>董文华</string>
		<string>迪克牛仔</string>
		<string>达明一派</string>
		<string>动力火车</string>
		<string>戴玉强</string>
		<string>戴娆</string>
	</array>
	<key>E</key>
	<array>
		<string>EXO</string>
	</array>
	<key>F</key>
	<array>
		<string>付笛生</string>
		<string>冯晓泉</string>
		<string>凤凰传奇</string>
		<string>范冰冰</string>
		<string>凤飞飞</string>
		<string>方季惟</string>
		<string>费玉清</string>
		<string>费翔</string>
		<string>范玮琪</string>
		<string>范晓萱</string>
	</array>
	<key>G</key>
	<array>
		<string>郭富城</string>
		<string>郭峰</string>
		<string>郭美美</string>
		<string>郭兰英</string>
		<string>郭德纲</string>
		<string>高胜美</string>
		<string>龚琳娜</string>
	</array>
	<key>H</key>
	<array>
		<string>黄品源</string>
		<string>黄家驹</string>
		<string>呼斯楞</string>
		<string>黄安</string>
		<string>黄雅莉</string>
		<string>黑鸭子</string>
		<string>黑豹</string>
	</array>
</dict>
</plist>
